<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
/*********************************************************************************
 * The contents of this file are subject to the Common Public Attribution
 * License Version 1.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.openemm.org/cpal1.html. The License is based on the Mozilla
 * Public License Version 1.1 but Sections 14 and 15 have been added to cover
 * use of software over a computer network and provide for limited attribution
 * for the Original Developer. In addition, Exhibit A has been modified to be
 * consistent with Exhibit B.
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
 * the specific language governing rights and limitations under the License.
 * 
 * The Original Code is OpenEMM.
 * The Original Developer is the Initial Developer.
 * The Initial Developer of the Original Code is AGNITAS AG. All portions of
 * the code written by AGNITAS AG are Copyright (c) 2007 AGNITAS AG. All Rights
 * Reserved.
 * 
 * Contributor(s): AGNITAS AG. 
 ********************************************************************************/
-->

<!--
  - Application context definition for Agnitas EMM business layer.
  - Contains bean references to the transaction manager and to the DAOs in
  - dataAccessContext.xml (see web.xml's "contextConfigLocation").
  -->
<beans>

    <!-- ========================= GENERAL DEFINITIONS ========================= -->

    <!-- Configurer that replaces ${...} placeholders with values from properties files -->
    <!-- (in this case, mail and JDBC related properties) -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:emm.properties</value>
            </list>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>messages</value></property>
    </bean>

    <!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->

    <bean id="TargetRepresentation" class="org.agnitas.target.impl.TargetRepresentationImpl" singleton="false">
    </bean>

    <bean id="TargetNodeString" class="org.agnitas.target.impl.TargetNodeString" singleton="false">
    </bean>

    <bean id="TargetNodeNumeric" class="org.agnitas.target.impl.TargetNodeNumeric" singleton="false">
    </bean>

    <bean id="TargetNodeDate" class="org.agnitas.target.impl.TargetNodeDate" singleton="false">
    </bean>

    <bean id="UserForm" class="org.agnitas.beans.impl.UserFormImpl" singleton="false">
    </bean>

    <bean id="EmmAction" class="org.agnitas.actions.impl.EmmActionImpl" singleton="false">
    </bean>

    <bean id="Mailinglist" class="org.agnitas.beans.impl.MailinglistImpl" singleton="false">
    </bean>

    <bean id="TrackableLink" class="org.agnitas.beans.impl.TrackableLinkImpl" singleton="false">
    </bean>

    <bean id="Mailing" class="org.agnitas.beans.impl.MailingImpl" singleton="false">
        <property name="components">
            <map>
            </map>
        </property>
        <property name="dynTags">
            <map></map>
        </property>
        <property name="mediatypes">
            <map></map>
        </property>
        <property name="trackableLinks">
            <map></map>
        </property>
        <property name="maildropStatus">
            <set></set>
        </property>
    </bean>

    <bean id="MaildropEntry" class="org.agnitas.beans.impl.MaildropEntryImpl" singleton="false">
    </bean>

    <bean id="MediatypeEmail" class="org.agnitas.beans.impl.MediatypeEmailImpl" singleton="false">
    </bean>

    <bean id="Mediatype" class="org.agnitas.beans.impl.MediatypeImpl" singleton="false">
    </bean>

    <bean id="MailingComponent" class="org.agnitas.beans.impl.MailingComponentImpl" singleton="false">
    </bean>

    <bean id="DeliveryStat" class="org.agnitas.stat.impl.DeliveryStatImpl" singleton="false">
    	<property name="mailingDao" ref="MailingDao" />
    </bean>
    <!-- bean id="DeliveryStatFactory" class="org.agnitas.beans.impl.DeliveryStatFactoryImpl"  /-->

    <bean id="CampaignStatEntry" class="org.agnitas.stat.impl.CampaignStatEntryImpl" singleton="false">
    </bean>

    <bean id="DomainStat" class="org.agnitas.stat.impl.DomainStatImpl" singleton="false">
    </bean>

    <bean id="IPStat" class="org.agnitas.stat.impl.IPStatImpl" singleton="false">
    </bean>

    <bean id="MailingStat" class="org.agnitas.stat.impl.MailingStatImpl" singleton="false">
    </bean>

    <bean id="MailingStatEntry" class="org.agnitas.stat.impl.MailingStatEntryImpl" singleton="false">
    </bean>

    <bean id="URLStatEntry" class="org.agnitas.stat.impl.URLStatEntryImpl" singleton="false">
    </bean>

    <bean id="Mailgun" class="org.agnitas.backend.MailgunImpl" singleton="false">
    </bean>

    <bean id="DynamicTag" class="org.agnitas.beans.impl.DynamicTagImpl" singleton="false">
        <property name="dynContent">
            <map></map>
        </property>
    </bean>

    <bean id="DynamicTagContent" class="org.agnitas.beans.impl.DynamicTagContentImpl" singleton="false">
    </bean>

    <bean id="TagDetails" class="org.agnitas.beans.impl.TagDetailsImpl" singleton="false">
    </bean>

    <bean id="Recipient" class="org.agnitas.beans.impl.RecipientImpl" singleton="false">
    </bean>

    <bean id="Campaign" class="org.agnitas.beans.impl.CampaignImpl" singleton="false">
    </bean>

    <bean id="BindingEntry" class="org.agnitas.beans.impl.BindingEntryImpl" singleton="false">
    </bean>

    <bean id="Target" class="org.agnitas.target.impl.TargetImpl" singleton="false">
        <property name="targetStructure">
            <ref bean="TargetRepresentation"/>
        </property>
    </bean>

    <bean id="DatasourceDescription" class="org.agnitas.beans.impl.DatasourceDescriptionImpl" singleton="false">
    </bean>

    <bean id="Title" class="org.agnitas.beans.impl.TitleImpl" singleton="false">
    </bean>

    <bean id="ProfileField" class="org.agnitas.beans.impl.ProfileFieldImpl" singleton="false">
    </bean>

    <bean id="Company" class="org.agnitas.beans.impl.CompanyImpl" singleton="false">
    </bean>

    <bean id="Mailloop" class="org.agnitas.beans.impl.MailloopImpl" singleton="false">
    </bean>

    <bean id="Admin" class="org.agnitas.beans.impl.AdminImpl" singleton="false">
    </bean>

    <bean id="AdminGroup" class="org.agnitas.beans.impl.AdminGroupImpl" singleton="false">
    </bean>

    <bean id="UID" class="org.agnitas.util.UIDImpl" singleton="false">
    </bean>

    <bean id="ExportPredef" class="org.agnitas.beans.impl.ExportPredefImpl" singleton="false">
    </bean>

    <bean id="CustomerImportStatus" class="org.agnitas.beans.impl.CustomerImportStatusImpl" singleton="false">
    </bean>

	<bean id="ImportWizardService" class="org.agnitas.service.impl.ImportWizardServiceImpl" singleton="false">
		<property name="status" ref="CustomerImportStatus" />
		<property name="recipientDao" ref="RecipientDao" />
	</bean>



    <bean id="EmmLayout" class="org.agnitas.beans.impl.EmmLayoutImpl">
        <property name="baseUrl" value="images/emm/"/>
        <property name="headerUrl" value="header.jsp"/>
        <property name="footerUrl" value="footer.jsp"/>
        <property name="normalColor" value="#D2D7D2"/>
        <property name="highlightColor" value="#73A2D0"/>
    </bean>

    <!-- Caches -->

    <bean id="mailgunCache" class="org.agnitas.util.TimeoutLRUMap">
        <constructor-arg index="0"><value>${mailgun.maxCache}</value></constructor-arg>
        <constructor-arg index="1"><value>${mailgun.maxCacheTimeMillis}</value></constructor-arg>
    </bean>

    <bean id="imageCache" class="org.agnitas.util.TimeoutLRUMap">
        <constructor-arg index="0"><value>${hostedImage.maxCache}</value></constructor-arg>
        <constructor-arg index="1"><value>${hostedImage.maxCacheTimeMillis}</value></constructor-arg>
    </bean>

    <bean id="companyCache" class="org.agnitas.util.TimeoutLRUMap">
        <constructor-arg index="0"><value>${company.maxCache}</value></constructor-arg>
        <constructor-arg index="1"><value>${company.maxCacheTimeMillis}</value></constructor-arg>
    </bean>

    <!-- Service definitions -->
    <bean id="versionControlService" class="org.agnitas.service.impl.VersionControlServiceImpl">
    	<property name="versionControlDao" ref="versionControlDao"/>
    </bean>
    
    <bean id="columnInfoService" class="org.agnitas.service.impl.ColumnInfoService">
    	<property name="profileFieldDao" ref="ProfileFieldDao" />
    	<property name="columnInfoDao" ref="ColumnInfoDao"></property>
    </bean>
    
     <bean id="mailingcontentService" class="org.agnitas.service.impl.MailingContentServiceImpl" >
    	<property name="columnInfoService"  ref="columnInfoService"/>
    </bean>
    
    <!-- DAO definitions -->

    <bean id="AdminDao" class="org.agnitas.dao.impl.AdminDaoImpl"/>
    <bean id="AdminGroupDao" class="org.agnitas.dao.impl.AdminGroupDaoImpl"/>
    <bean id="BindingEntryDao" class="org.agnitas.dao.impl.BindingEntryDaoImpl"/>
    <bean id="BlacklistDao" class="org.agnitas.dao.impl.BlacklistDaoImpl"/>
    <bean id="CampaignDao" class="org.agnitas.dao.impl.CampaignDaoImpl"/>
    <bean id="CompanyDao" class="org.agnitas.dao.impl.CompanyDaoImpl"/>
    <bean id="DynamicTagDao" class="org.agnitas.dao.impl.DynamicTagDaoImpl"/>
    <bean id="EmmActionDao" class="org.agnitas.dao.impl.EmmActionDaoImpl"/>
    <bean id="ExportPredefDao" class="org.agnitas.dao.impl.ExportPredefDaoImpl"/>
    <bean id="LoginTrackDao" class="org.agnitas.dao.impl.LoginTrackDaoImpl" />
    <bean id="MaildropStatusDao" class="org.agnitas.dao.impl.MaildropStatusDaoImpl"/>
    <bean id="MailingComponentDao" class="org.agnitas.dao.impl.MailingComponentDaoImpl"/>
    <bean id="MailingDao" class="org.agnitas.dao.impl.MailingDaoImpl">
    	<property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="MailinglistDao" class="org.agnitas.dao.impl.MailinglistDaoImpl"/>
    <bean id="MailloopDao" class="org.agnitas.dao.impl.MailloopDaoImpl"/>
    <bean id="OnepixelDao" class="org.agnitas.dao.impl.OnepixelDaoImpl"/>
    <bean id="ProfileFieldDao" class="org.agnitas.dao.impl.ProfileFieldDaoImpl"/>
    <bean id="RecipientDao" class="org.agnitas.dao.impl.RecipientDaoImpl"/>
    <bean id="TargetDao" class="org.agnitas.dao.impl.TargetDaoImpl"/>
    <bean id="TitleDao" class="org.agnitas.dao.impl.TitleDaoImpl"/>
    <bean id="TrackableLinkDao" class="org.agnitas.dao.impl.TrackableLinkDaoImpl"/>
    <bean id="UserFormDao" class="org.agnitas.dao.impl.UserFormDaoImpl"/>
	<bean id="versionControlDao" class="org.agnitas.dao.impl.VersionControlDaoImpl"/>
	<bean id="EmmLayoutDao" class="org.agnitas.dao.impl.EmmLayoutDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ColumnInfoDao" class="org.agnitas.dao.impl.ColumnInfoDaoImpl" >
		<property name="dataSource" ref="dataSource" />
	</bean> 



    <!-- Action Operations -->

    <bean id="GetArchiveList" class="org.agnitas.actions.ops.GetArchiveList" singleton="false"/>
    <bean id="GetArchiveMailing" class="org.agnitas.actions.ops.GetArchiveMailing" singleton="false"/>
    <bean id="ActivateDoubleOptIn" class="org.agnitas.actions.ops.ActivateDoubleOptIn" singleton="false"/>
    <bean id="SubscribeCustomer" class="org.agnitas.actions.ops.SubscribeCustomer" singleton="false"/>
    <bean id="UnsubscribeCustomer" class="org.agnitas.actions.ops.UnsubscribeCustomer" singleton="false"/>
    <bean id="UpdateCustomer" class="org.agnitas.actions.ops.UpdateCustomer" singleton="false"/>
    <bean id="GetCustomer" class="org.agnitas.actions.ops.GetCustomer" singleton="false"/>
    <bean id="ExecuteScript" class="org.agnitas.actions.ops.ExecuteScript" singleton="false"/>
    <bean id="SendMailing" class="org.agnitas.actions.ops.SendMailing" singleton="false"/>
    <bean id="ServiceMail" class="org.agnitas.actions.ops.ServiceMail" singleton="false"/>

    <!-- Scheduler for Date-Based Mailings -->
   
   
    <bean id="workerExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor" >
    	<constructor-arg  value="10" type="int"/>
    </bean>
      
    <!--  struts action mappings 
    	
    	comeing soon !
    	
    -->
   
   <bean id="onlinehelp.languages" class="java.lang.String" >
   	 <constructor-arg value="${onlinehelp.languages}" />
   </bean>

    <bean id="NewImportWizardService" class="org.agnitas.service.impl.NewImportWizardServiceImpl" singleton="false" init-method="initRules">
        <property name="importRecipientsDao" ref="ImportRecipientsDao"/>
        <property name="importProfileDao" ref="ImportProfileDao"/>
        <property name="importLoggerDao" ref="ImportLoggerDao"/>
        <property name="recipientDao" ref="RecipientDao"/>
        <property name="status" ref="CustomerImportStatus"/>
        <property name="blockSize" value="2000"/>
        <property name="validatorRulesXml" value="/org/agnitas/service/csv/validator/validator-rules.xml"/>
    </bean>

    <bean id="ImportRecipientsDao" class="org.agnitas.dao.impl.ImportRecipientsDaoImpl" singleton="false"></bean>

    <bean id="ImportLoggerDao" class="org.agnitas.dao.impl.ImportLoggerDaoImpl" singleton="false"></bean>

    <!--  new import beans -->
    <bean id="ImportProfile" class="org.agnitas.beans.impl.ImportProfileImpl" singleton="false"></bean>
    <bean id="ColumnMapping" class="org.agnitas.beans.impl.ColumnMappingImpl" singleton="false"></bean>
    <bean id="ImportProfileDao" class="org.agnitas.dao.impl.ImportProfileDaoImpl"/>
    
    <bean id="EmbeddedClickStatDao" class="org.agnitas.ecs.backend.dao.impl.EmbeddedClickStatDaoImpl"/>

    <bean id="EmbeddedClickStatService" class="org.agnitas.ecs.backend.service.impl.EmbeddedClickStatServiceImpl" singleton="false">
        <property name="embeddedClickStatDao" ref="EmbeddedClickStatDao" />
    </bean>

    <bean id="EcsRecipientsProvider" class="org.agnitas.ecs.service.impl.EcsRecipientsProviderImpl" singleton="false">
        <property name="recipientDao" ref="RecipientDao" />
    </bean>

    <bean name="/ecs_stat" class="org.agnitas.ecs.web.EcsMailingStatAction" >
        <property name="recipientsProvider" ref="EcsRecipientsProvider"/>
        <property name="embeddedClickStatDao" ref="EmbeddedClickStatDao"/>
        <property name="mailingDao" ref="MailingDao" />
    </bean>
        
</beans>
